/***** Google fonts import ************/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700");

@font-face {
    font-family: 'Cassandra';
    src: url(../fonts/Cassandra.ttf);
}

/*
Base css
*/
html, body {
    height: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
    background: #fff;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #999;
}

a, button {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
}

a {
    color: #ef3030;
}

a:hover {
    color: #aeaeae;
}

a, a:hover, a:focus, button:hover, button:focus {
    outline: 0 !important;
    text-decoration: none;
}

label {
    font-weight: 400;
    font-size: 16px;
}

blockquote {
    font-style: normal;
    font-weight: 400;
}

blockquote p {
    font-weight: 400;
}

button:focus {
    outline: 0 !important;
}

::-moz-selection {
    background-color: #191b1d;
    color: #fff;
}

::selection {
    background-color: #191b1d;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    margin-top: 0;
    font-family: "Open Sans", sans-serif;
    color: #555;
    font-weight: 700;
}

.overflow-hidden {
    overflow: hidden;
}

.full-wid {
    width: 100%;
}

.no-padd {
    padding: 0;
}

.no-margin {
    margin: 0;
}

/***spaces**/
.space-10 {
    width: 100%;
    height: 10px;
}

.space-20 {
    width: 100%;
    height: 20px;
}

.space-30 {
    width: 100%;
    height: 30px;
}

.space-40 {
    width: 100%;
    height: 40px;
}

.space-50 {
    width: 100%;
    height: 50px;
}

.space-60 {
    width: 100%;
    height: 60px;
}

.space-70 {
    width: 100%;
    height: 70px;
}

.space-80 {
    width: 100%;
    height: 80px;
}

.space-90 {
    width: 100%;
    height: 90px;
}

.space-100 {
    width: 100%;
    height: 100px;
}

/**margins**/
.margin-b-10 {
    margin-bottom: 10px;
}

.margin-b-20 {
    margin-bottom: 20px;
}

.margin-b-30 {
    margin-bottom: 30px;
}

.margin-b-40 {
    margin-bottom: 40px;
}

.margin-b-50 {
    margin-bottom: 50px;
}

.skin-bg {
    background-color: #ef3030;
}

.gray-bg {
    background: #f7f9fa;
}

.form-control, input[type="text"], input[type="email"], textarea {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    border: 2px solid #f5f5f5;
    min-height: 43px;
}

.form-control:focus, input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    border-color: #ddd;
}

.dropcap:first-letter {
    font-size: 30px;
    color: #ef3030;
}

.center-img {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.full-img {
    width: 100%;
    height: auto;
}

.text-color {
    color: #ef3030;
}

/****center title***********/
.center-title h2 {
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    text-transform: capitalize;
    text-align: center;
    font-family: "Cassandra", cursive;
}

.center-title h2 i {
    color: #ef3030;
    font-size: 34px;
}

/**********back to top*************/
.scrollToTop {
    text-align: center;
    font-size: 30px;
    background: transparent;
    font-weight: bold;
    color: #ef3030;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999999;
    display: none;
    opacity: 0.5;
    line-height: 0;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.scrollToTop:hover {
    text-decoration: none;
    opacity: 1;
    color: #ef3030;
}

/**preloader**/
div#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff url("../images/loader.gif") no-repeat center center;
}

/*
Button style
*/
.btn {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    font-weight: 400;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.btn i {
    margin-left: 10px;
}

.btn-lg {
    padding: 12px 25px;
}

.btn-dark-border {
    border: 2px solid #333;
    color: #333;
}

.btn-dark-border:hover, .btn-dark-border:focus {
    background: #333;
    color: #fff;
}

.btn-skin-border {
    border: 2px solid #ef3030;
    color: #ef3030;
    background-color: transparent;
}

.btn-skin-border:hover, .btn-skin-border:focus {
    background: #ef3030;
    color: #fff;
}

.btn-white-border {
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent;
}

.btn-white-border:hover, .btn-white-border:focus {
    background: #fff;
    color: #333;
}

.btn-dark {
    background-color: #333;
    color: #fff;
}

.btn-dark:hover, .btn-dark:focus {
    background: #ef3030;
    color: #fff;
}

.btn-skin {
    background-color: #ef3030;
    color: #fff;
}

.btn-skin:hover, .btn-skin:focus {
    background: #333;
    color: #fff;
}

.btn-link {
    color: #ef3030;
}

.btn-link:hover {
    color: #999;
}

/*
Navigation styles
*/
.navbar-default {
    background-color: #fff;
    border: 0;
    padding: 0;
    margin: 0;
}

.navbar-default .navbar-nav > li {
    vertical-align: middle;
}

.navbar-default .navbar-nav > li > a {
    color: #777;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
}

.logo-rouded {
    color: #fff;
}

.logo-rouded strong {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #ef3030;
    background-color: transparent;
}

.navbar-default.transparent {
    background-color: transparent;
    padding: 20px 0;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar-default.transparent .navbar-nav > li > a {
    color: #fff;
}

.navbar-default.transparent .navbar-nav > li > a:hover {
    color: #ef3030;
}

.navbar-default.transparent.shrink {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 10px 0;
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
}

.navbar-default.transparent.shrink .navbar-nav > li > a {
    color: #777;
}

.navbar-default.transparent.shrink .navbar-nav > li > a:hover {
    color: #ef3030;
}

.navbar-default.transparent.shrink .logo-rouded {
    color: #777;
}

.navbar-default.transparent.shrink .logo-rouded > .ion-heart {
    color: #ef3030;
}

.navbar-default.transparent .navbar-nav > .active > a, .navbar-default.transparent .navbar-nav > .active > a:focus, .navbar-default.transparent .navbar-nav > .active > a:hover {
    color: #ef3030;
    background-color: transparent;
}

.navbar-default.transparent.shrink .navbar-nav > .active > a, .navbar-default.transparent.shrink .navbar-nav > .active > a:focus, .navbar-default.transparent.shrink .navbar-nav > .active > a:hover {
    color: #ef3030;
    background-color: transparent;
}

/*
Template backgrounds
*/
.hero-fullscreen {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.hero-fullscreen.hero_one {
    background-image: url(../uploads/wedding/images/bg-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    background-attachment: fixed;
}

.hero-fullscreen.hero_one h1 {
    font-family: "Cassandra", cursive;
    color: #fff;
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 3px;
    text-transform: capitalize;
}

.hero-fullscreen.hero_one h1 span {
    font-family: "Cassandra", cursive;
}

.hero-fullscreen.hero_one p {
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
}

.empty-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    background-attachment: fixed;
    height: 400px;
}

.hero-table {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: relative;
    display: table;
}

.hero-table .hero-vm {
    z-index: 3;
    position: relative;
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.hero-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.get-married {
    background-image: url(../uploads/wedding/images/bg-get-married.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    background-attachment: fixed;
    padding: 150px 0;
    position: relative;
}

.get-married:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.get-married .container {
    position: relative;
}

.get-married h1 {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    color: #fff;
}

.get-married p {
    text-transform: uppercase;
    color: #eee;
}

.thanks {
    background-image: url(../uploads/wedding/images/bg-thanks.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    background-attachment: fixed;
    padding: 30px 0;
    position: relative;
}

.thanks span {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

/*
Section our story
*/
.story-row {
    display: table;
    padding: 50px 0;
    position: relative;
}

.story-row [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: middle;
}

.story-row .story-date {
    height: 85px;
    width: 85px;
    background-color: #ef3030;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    margin: 0 auto;
    z-index: 9;
    position: relative;
}

.story-row .story-date .date-only {
    font-size: 30px;
    color: #FFF;
    line-height: 19px;
    padding-top: 22px;
    font-weight: 700;
}

.story-row .story-date .month-year {
    font-size: 16px;
    color: #FFF;
}

.story-row h3 {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}

.story-row h3 span {
    color: #ef3030;
}

.vertical-line {
    position: absolute;
    height: 100%;
    width: 1px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-left: 1px dashed #eee;
}

/**image boxes**/
.image-box {
    position: relative;
    overflow: hidden;
    display: block;
}

.image-box img {
    -moz-transition: all 2s;
    -o-transition: all 2s;
    -webkit-transition: all 2s;
    transition: all 2s;
    width: 100%;
}

.image-box:after {
    content: "";
    position: absolute;
    left: 2%;
    top: 2%;
    width: 96%;
    height: 96%;
    border: 1px solid rgba(255, 255, 255, 0.7);
}

.image-box:hover img {
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.groom-bride h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

/**countdown***/
div#getting-married {
    font-size: 40px;
    display: inline-block;
    padding: 15px 20px;
    line-height: 100%;
    background-color: #ef3030;
    color: #fff;
    -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.wedding-details h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 4px;
    text-transform: uppercase;
}

.wedding-details h3 span {
    font-family: "Cassandra", cursive;
}

.accomodations-row h4 {
    margin-top: 20px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0;
}

.accomodations-row span {
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
}

.persons img {
    display: block;
    margin: 0 auto;
}

.persons h4 {
    font-weight: 400;
}

.gf-row img {
    margin: 20px auto;
    display: block;
}

/* Google map styles */
#gmap-canvas {
    height: 600px;
    width: 100%;
}

/* form-rsvp styles */
div.required label.control-label:after {
    content: " *";
    color: #ef3030;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
    color: #ef3030;
}

.has-error .form-control {
    border-color: #ef3030;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
    color: #33af54;
}

.has-success .form-control {
    border-color: #33af54;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

/*** Responsive css**/
@media (max-width: 767px) {
    .story-row {
        display: block;
        text-align: center;
    }

    .story-row .text-left {
        text-align: center;
    }

    .story-row [class*="col-"] {
        float: none;
        display: block;
        vertical-align: middle;
        margin-bottom: 20px;
    }

    .vertical-line {
        display: none;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .navbar-default .navbar-toggle {
        border: 0;
    }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }

    .navbar-nav {
        margin: 0 -15px;
        background-color: #000;
    }

    .navbar-default.transparent, .navbar-default.transparent.shrink {
        background-color: #000;
        padding: 0;
    }

    .navbar-default.transparent.shrink .logo-rouded {
        color: #fff;
    }

    .hero-fullscreen.hero_one h1 {
        font-size: 40px;
        line-height: 40px;
    }

    .empty-image, .get-married, .hero-fullscreen.hero_one, .gift-registry {
        background-attachment: scroll !important;
        background-position: center center !important;
    }
}
